# dependencies

/venv
/docs
/node_modules
/BoilerBoard/__pycache__
/core/__pycache__
/core/user/__pycache__
/core/migrations/__pycache__
/core/auth/__pycache__
/core/auth/migrations/__pycache__
/core/auth/serializers/__pycache__
/core/auth/viewsets/__pycache__
/core/user/migrations/__pycache__
/core/course/migrations/__pycache__
/core/discussions/migrations/__pycache__
/core/module/migrations/__pycache__
/core/posts/migrations/__pycache__
/core/quiz2/migrations/__pycache__
/core/section/migrations/__pycache__
/core/voice_chat/migrations/__pycache__
/core/posts/__pycache__
/core/discussions/__pycache__
/core/abstract/__pycache__
/core/course/__pycache__
/core/modules/__pycache__
/core/voice_chat/__pycache__
/core/section/__pycache__
/core/quiz2/__pycache__
/core/user/__pycache__
/core/migrations
/DS.store
/frontend/node_modules
